//
// Header
//

.header {
    background-color: var(--default);
    min-height: 10vh; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
.header-logo {
height: 10vmin;
pointer-events: none;
}
